<div class="modal-header">
  <h3 class="modal-title">Add task</h3>
</div>
<div class="modal-body">
  <form name="AddTaskForm" class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="name">Email address</label>
      <input type="text"
             class="form-control"
             id="name"
             placeholder="Название"
             ng-model="model.label"
             required>
    </div>
    <div class="form-group">
      <label class="sr-only" for="expectedDuration">Время</label>
      <input type="text"
             class="form-control"
             id="expectedDuration"
             placeholder="Время"
             ng-model="model.duration"
             required>
    </div>
  </form>
  Selected: <pre>{{ model | json }}</pre>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>