<ul dnd-list="list.items">
  <li ng-repeat="item in list.items"
      dnd-draggable="item"
      dnd-moved="list.items.splice($index, 1)"
      dnd-effect-allowed="move"
      dnd-selected="model.selected = item"
      ng-class="{'selected': model.selected === item}"
  >
    <div style="display: inline-block;"> <span class="label" tm-task-type-adder="item">{{item.type}}</span></div>
    <div style="display: inline-block;">{{item.label}}</div>
  </li>
  <li class="dndPlaceholder">
    Drop item here
  </li>
</ul>